@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply text-lg
  }

  button {
    @apply text-white bg-indigo-500 hover:bg-transparent hover:text-indigo-600 rounded-md
  }

  ul {
    padding: 0;
    list-style-type: none;
  }


  .line-break {
    white-space: pre-wrap;
  }

}